/* Color specs */
/*@define-color background rgba(146,156,162,0.6);*/
@define-color background rgba(41,41,41,0.85);
@define-color text-color #1a1a1a;
@define-color primary #b12800;
@define-color secondary #3d7e13;
@define-color light rgba(82,82,82,0.85);

/* Generic/main stuff */
* {
	border: none;
	font-weight: bold;
	color: @text-color;
	font-size: 20px;
	border-radius: 0;
	font-family: Jetbrains Mono Extra Bold;
  text-shadow: none;
}

window#waybar {
	background-color: @background;
	/*background-color: @background;
	border-radius: 3px;*/
}
/* Fix for strange white background when hovering buttons by default */
button:hover {
	background: inherit;
	box-shadow: none;
}

/* Standard styling for module */
#workspaces button,
#tray,
#clock,
#custom-music,
#custom-pipewire,
#memory,
#network {
}

.modules-right * {
	color: @secondary;
}

/* Workspaces */
.modules-right,
#workspaces {
	background-color: transparent;
  margin-right: 10px;
}
#workspaces button {
}
#workspaces button * {
	color: @secondary;
}
#workspaces button.focused * {
	color: @primary;
}
#workspaces button:hover {
	background-color: @light;
}

/* Window */
#window *
{
  color: @primary;
}
#clock {
	margin: 0 10px;
}

/* Hiding music when not playing */
#custom-music.stopped {
  opacity: 0;
}
